@import '../../global/variables';
.cmp-button {
  color: $primary-color;
  font-weight: 600;
  background-color: white;
  border-radius: 16px;
  border-style: none;
  box-shadow: $box-shadow;
  padding: 0px;
  margin-right: 20px;
  width: 145px;
  height: 35px;
  &:hover {
    background-color: $background-hover;
  }
  cursor: pointer;

}
.btn-submit {
  color: white;
  background-color: $secondary-color ;
  &:hover {
    background-color: $secondary-color-hover;
  }
 
}

.btn-disabled {
  
  pointer-events: none;
}

