.select-container {
  display: flex;
  justify-content: flex-start;
}
.custom-option {
  height: 50px !important;
}

.custom-select {
  border: 4px solid #d0e8e6;
  background: none;
  text-align: center;
}

.custom-select-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 400px;
}
