@import '../../global/variables';

.cmp-select-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: $max-width;
  max-width: $max-width;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cmp-option {
  height: 50px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}