$background: url("../assets/texture.png");
$background-invalid: #efe0e0;
$background-focus-select: rgb(225, 240, 239);
$primary-color: #404040;
$border-color: #d0e8e6;
$border-active: #a1d2ce;
$border-disabled: #989898;
$border-invalid: #ee90a2;
$box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
$secondary-color: #803093;
$secondary-color-hover:  #5f226e;
$background-hover: #daebe8;
.loading {
  color: $primary-color;
  font-weight: 600;
  background-color: white;
  border-radius: 16px;
  border-style: none;
  box-shadow: $box-shadow;
  padding: 0px;
  margin-right: 20px;
  width: 155px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content :space-evenly;
  align-items: center;
  padding-right: 5px;
  p {
    padding-left: 15px;
  }
}


.img-loading {
  width: 60%;
  height: 60%;
  color: black;
  fill: black;

}
.rotation {
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}