@import '../../global/variables';

.loading {
  color: $primary-color;
  font-weight: 600;
  background-color: white;
  border-radius: 16px;
  border-style: none;
  box-shadow: $box-shadow;
  padding: 0px;
  margin-right: 20px;
  width: 155px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content :space-evenly;
  align-items: center;
  padding-right: 5px;
  p {
    padding-left: 15px;
  }
}


.img-loading {
  width: 60%;
  height: 60%;
  color: black;
  fill: black;

}
.rotation {
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}