$border: #d0e8e6;
$border-active: #a1d2ce;
$border-disabled: #989898;
$border-invalid: #ee90a2;
$background-invalid: #efe0e0;
$box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
.custom-checkbox {
  width: 35px;
  background-color: #803093;
  height: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 4px solid transparent;
}
.custom-checkbox-active {
  width: 35px;
  background-color:white;
  height: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 4px solid $border;
  box-shadow: $box-shadow;
}
.checkbox-title {
  margin-top: 10px;
  margin-left: 10px;
  
	font-weight: 800;
	letter-spacing: 0.2em;
}
.checkbox-container {
  display: flex;
  width: 100%;
  height: 100px;
  font-size: 15px;
}
.img-check {
  align-self: center;
  width: 20px;
  height: 20px;
  color: white;
}
