$background: url("../assets/texture.png");
$background-invalid: #efe0e0;
$background-focus-select: rgb(225, 240, 239);
$primary-color: #404040;
$border-color: #d0e8e6;
$border-active: #a1d2ce;
$border-disabled: #989898;
$border-invalid: #ee90a2;
$box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);

.custom-checkbox {
  width: 35px;
  background-color: #803093;
  height: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 4px solid transparent;
}
.custom-checkbox-active {
  width: 35px;
  background-color:white;
  height: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 4px solid $border-color;
  box-shadow: $box-shadow;
}
.checkbox-title {
  margin-left: 20px;
	font-weight: 800;
}
.checkbox-container {
  display: flex;
  height: 100px;
  width: 300px;
  font-size: 15px;
}
.img-check {
  align-self: center;
  width: 20px;
  height: 20px;
  color: white;
}
