
$breakpoint-tablet: 512px;
$max-width: 300px;
.form-layout {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 80%;

}
.input-container {
	display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	align-items: flex-start;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: center;
	width: 100%;

	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 80%;
}

.header-title {
	font-weight: 900;
	color: black;
}

.header-subtitle {
	font-weight: 600;
	font-size: 20px;
	margin-top: -2px;
}

.form-layout {
	margin-top: 35px;
	height: 100%;
}

.btn-container {
	display: flex;
	width: 100%;
	padding : 4px;
}

.checkbox-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px;

}
.loading-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	align-self: center;
	width: 100%;
} 
.select-container {
	display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	align-items: flex-start;
}
@media screen and (max-width: $breakpoint-tablet) {
	.select-container {
		justify-content: center;
		align-items: center;
		align-self: center;
		display: flex;
	}
	.input-container {
		justify-content: center;
		align-items: center;
		align-self: center;
	}
	.checkbox-container {
		justify-content: flex-start;
		align-items: flex-start;
		align-self: flex-start;
	}
	.btn-container {
		justify-content: center;
		align-items: center;
		align-self: center;
	}
}
